*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  table-layout: fixed;
  width: 100%;
  min-height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(#000, 0);
}

body {
  /* display: table-cell; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  color: #000;
  text-align: left;
  background-color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* // IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root
  @-ms-viewport
    width: device-width; */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: calc(1675px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

@media(max-width: 1300px) {
   .banner__title {
      font-size: calc(50/991*100vw);
   }

   .banner__text {
      font-size: calc(17/991*100vw);
   }

   .banner__button {
      font-size: calc(15/991*100vw);
   }

   .about__title, .next__title {
      font-size: calc(15/991*100vw);
   }
   
   .about__text, .next__text {
      font-size: calc(15/991*100vw);
   }

   .about__left, .next__left {
      margin-right: calc(50/991*100vw);
   }

   .next__subtitle, .about__subtitle {
      font-size: calc(24/991*100vw);
   }

   .cards__strong {
      font-size: calc(14/991*100vw);
   }

   .cards__title {
      font-size: calc(28/991*100vw);
   }

   .cards__text {
      font-size: calc(14/991*100vw);
   }

   .cards__button {
      font-size: calc(14/991*100vw);
   }

   .cards__subtitle {
      font-size: calc(23/991*100vw);
   }

   .about__button {
      font-size: calc(14/991*100vw);
   }

   .footer__link {
      font-size: calc(16/991*100vw);
   }

   .footer__inc, .footer__title {
      font-size: calc(14/991*100vw);
   }

   .feedback__title {
      font-size: calc(24/991*100vw);
   }

   .feedback__subtitle {
      font-size: 16px;
   }
}

@media(max-width: 991px) {

   .cards__row {
      flex-wrap: wrap;
   }

   .cards__card {
      flex-basis: 100%;
      margin-bottom: 30px;
   }

   .cardds__card:last-child {
      margin-bottom: 0;
   }

   .cards__inner, .cards__strong, .cards__text{
      text-align: center;
   }

   .cards__button  {
      margin: 0 auto;
   }

   .about__left, .next__left {
      margin-right: 15px;
   }

   .feedback__wrapper {
      margin-bottom: 20px;
   }

   .feedback__content {
      flex-direction: column;
   }

   .feedback__part {
      flex-basis: 33%;
   }

   .feedback__button {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 1;
   }

   .feedback__subtitle {
      font-size: 14px;
   }
}

@media(max-width: 767px) {
   .next__content, .about__content {
      flex-wrap: wrap;
   }

   .about__content {
      flex-direction: column-reverse;
   }

   .next__right, .next__left, .about__left, .about__right {
      width: 100%;
      margin-right: 0;
   }

   .banner__title {
      font-size: calc(35/480*100vw);
   }

   .banner__text {
      font-size: calc(14/480*100vw);
   }

   .banner__button {
      font-size: calc(12/480*100vw);
   }

   .about__title, .next__title {
      font-size: calc(12/480*100vw);
   }
   
   .about__text, .next__text {
      font-size: calc(12/480*100vw);
   }

   .next__subtitle, .about__subtitle {
      font-size: calc(14/480*100vw);
   }

   .cards__strong {
      font-size: calc(12/480*100vw);
   }
   .cards__text {
      font-size: calc(12/480*100vw);
   }

   .cards__subtitle {
      font-size: calc(16/480*100vw);
   }

   .cards__button {
      font-size: calc(11/480*100vw);
   }

   .about__button {
      font-size: calc(11/480*100vw);
   }

   .footer__link {
      font-size: calc(13/480*100vw);
   }

   .cards__title {
      font-size: calc(19/480*100vw);
   }

   .footer__inc, .footer__title {
      font-size: calc(13/480*100vw);
   }

   .feedback__input {
      font-size: calc(15/480*100vw);
      padding: calc(10/480*100vw);
   }

   .feedback__input::placeholder {
      font-size: calc(15/480*100vw);
   }

   .feedback__button {
      font-size: calc(15/480*100vw);
      padding: calc(10/480*100vw);
   }
}

@media(max-width: 639px) {
   .feedback__inner {
      flex-direction: column;
   }

   .feedback__part {
      margin-bottom: 20px;
      margin-right: 0;
   }
}
 
@media(max-width: 480px) {

   .about__button {
      width: 100%;
      max-width: unset;
   }

   .cards__button {
      width: 100%;
      max-width: unset;
   } 

   .cards__content {
      padding: 30px 0;
   }

   .footer__content {
      padding: 30px 0;
   }

   .banner__title {
      font-size: calc(26/320*100vw);
   }

   .banner__text {
      font-size: calc(12/320*100vw);
   }

   .banner__button {
      font-size: calc(11/320*100vw);
   }

   .about__title, .next__title {
      font-size: calc(11/320*100vw);
   }
   
   .about__text, .next__text {
      font-size: calc(11/320*100vw);
   }

   .next__subtitle, .about__subtitle {
      font-size: calc(12/320*100vw);
   }

   .cards__strong {
      font-size: calc(11/320*100vw);
   }
   .cards__text {
      font-size: calc(11/320*100vw);
   }

   .cards__button {
      font-size: calc(11/320*100vw);
   }

   .cards__subtitle {
      font-size: calc(12/320*100vw);
   }

   .about__button {
      font-size: calc(11/320*100vw);
   }

   .footer__link {
      font-size: calc(12/320*100vw);
   }

   .footer__inc, .footer__title {
      font-size: calc(10/320*100vw);
   }

   .feedback__subtitle {
      font-size: 12px;
   }
}
